[submodule "_sass/vendors/bootstrap"]
	path = _sass/vendors/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "_sass/vendors/normalize.css"]
	path = _sass/vendors/normalize.css
	url = https://github.com/necolas/normalize.css.git
