/*** Theme Colours ***/

$text-color:       #111;
$background-color: #eee;
$brand-color:      #ffd081;

$colour-light:     #fefefe;

$grey-color:       #2c2932;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
