body {font-family: arial, sans-serif;}
.mont {font-family: 'Montserrat', helvetica, arial, sans-serif;}
.headline {font-size:60px;}
.link {text-transform: uppercase; font-weight: normal; letter-spacing:.1em; text-decoration:none;}
