body {font-family: arial, sans-serif;}
.mont {font-family: 'Montserrat', helvetica, arial, sans-serif;}
@font-face {
  font-family:jorbs;
  font-style:normal;
  font-weight:normal;
  src:url('/fonts/jorbs.ttf');}
