body {font-family: arial, sans-serif; color:$text-color;}
.headline {font-size:60px;}
.link {text-transform: uppercase; font-weight: normal; letter-spacing:.1em; text-decoration:none;}
.mont {font-family: /*'Montserrat', helvetica, */ arial, sans-serif; text-transform: uppercase; letter-spacing: .2em; font-size:.9em; font-weight: 600; padding-left:10px; float:right;}
