.section-home {padding:60px 0;}

.featured-home {
  background: #ff9300; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #ffa000, #ff5000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #ffa000, #ff5000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #ffa000, #ff5000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #ffa000, #ff5000); /* Standard syntax */
  color:$colour-light;
  height:100%;
}

.site-title {
    margin-bottom: 0;
    float: left;
    position: relative;
    width: 255px;
    height: 40px;
    text-indent: -999999px;
    overflow: visible;

      > svg {
        position: absolute;
        width: 100%;
        top:0;
        left:0;

          path {
              fill: $colour-light;
                }
            }
}
.wrapper {clear:both;}
