
.featured {background:orange;
  /* Orange: #ffa000
     Dark Orange: #ff5000; */
 color:#fff; height:100%;
  svg {fill:#fff;}
  a {color:#fff;}
}
.row-full {padding:30px 0; border-bottom:1px solid #ddd; background:#fefefe;
}
.col {background:#fff;}
