<header class="featured full-row">

  <div class="strips">
    <span></span>
  </div>

<div class="container">

  <div class="row">
    <a class="site-title col-sm" href="{{ site.baseurl }}/">{{ site.title }}{% include _images/title.svg %}</a>

    <nav class="site-nav col-sm">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link mont" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
    </nav>
  </div>

    <h1>"...the truth is, it's not the idea, it's never the idea, it's always what you do with it."</h1><br />
    <h4>Neil Gaiman | <a href="/home" style="color:#fff;"><em>Journal</em></a></h4>

</div>

</header>
