// Theme Colours

$text-color:       #111;
$background-color: #fefefe;
$brand-color:      #e2ca2a;

$grey-color:       #8e8b4e;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
