//Homepage

.site-title {
background: url('../img/corbin_NZ.svg');
width:292px;
height:45px;
margin-top:5px;
text-indent: -999999px;
}

.hero {
  width: 100%;
  background-color: #afafaf;
  height:600px;
}

.fullscreen {
  padding:20px 0;
  width: 100%;
}
