//Homepage

a.site-title {
background: url('../img/corbin_NZ.svg');
width: 255px;
height: 40px;
text-indent: -999999px;

  > svg {

      path {
          fill: $grey-color-light;
            }
        }
}

.hero {
  background-color: #6fa0d4;
  padding:50px 0;
  font-size: 3.5em;
  text-color:#fff;
  text-decoration: uppercase;
  font-weight: bolder;
}

.fullscreen {

  width: 100%;
}
